<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129454528260-agdhce1e488i3pva6jnj585fbacdgi7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129454528260-agdhce1e488i3pva6jnj585fbacdgi7q</string>
	<key>API_KEY</key>
	<string>AIzaSyCVjqw2tLS9ZX99KP0SH6yE7jagmk0GNBA</string>
	<key>GCM_SENDER_ID</key>
	<string>129454528260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Antioch.Mobile</string>
	<key>PROJECT_ID</key>
	<string>antioch-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>antioch-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129454528260:ios:3900e6d921661fe14d2251</string>
	<key>DATABASE_URL</key>
	<string>https://antioch-mobile.firebaseio.com</string>
</dict>
</plist>